/************************** DASH PAGE ***************************/
/*																*/
/****************************************************************/
/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/
/* MAIN COLOUR */
/* SECONDARY COLOUR */
/*****************************  FONTS  **************************/
/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
/* FONT COLOUR */
/************************ GRID TEMPLATE *************************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/
/********************  MAIN SECTION PAGE GRID  ******************/
#mainGrid {
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 5px; }

#mainGrid {
  grid-template-rows: auto auto auto; }

/* MAIN CONTENT */
#coinHeadingGrid, #coinKpiGrid, #coinGraphGrid {
  grid-column: 2/3;
  padding: 1.5vh; }

#coinHeadingGrid {
  grid-row: 1/2; }

#coinKpiGrid {
  grid-row: 2/3; }

#coinGraphGrid {
  grid-row: 3/4; }

/*************************** CONTENT ****************************/
/*																*/
/****************************************************************/
/*************************** SUBHEADING *************************/
.coinheading {
  /* COLOURS */
  /* FONTS */
  /* STYLE */
  display: flex;
  justify-content: center; }

.pumpwarning {
  /* COLOURS */
  background-color: #75605E;
  color: #2E2D38;
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-weight: 800;
  /* STYLE */
  display: none;
  border: 0.5px solid #75605E;
  border-radius: 10px; }
  .pumpwarning p {
    /* COLOURS */
    /* FONTS */
    /* STYLE */ }

/****************************  BUTTON  **************************/
.faveCoinBtn {
  /* COLOURS */
  /* FONTS */
  /*font-size: 2.5vh;*/
  /* STYLE */
  /*margin: 5px 20px;
  padding: 5px 20px;*/ }

/************************ COIN KPI SECTION **********************/
/* COINTER LIST OF KPI */
#coinKpiContent {
  /* COLOURS */
  /* FONTS */
  /* STYLE */
  column-count: 3;
  column-gap: 2%; }

/* EACH KPI */
.kpi {
  /* COLOURS */
  color: #686385;
  background-color: #2E2D38;
  /* FONTS */
  /* STYLE */
  border: 0.5px solid #74705d;
  border-radius: 10px;
  /*opacity: 0.6;*/
  padding: 10px 30px;
  margin: 0 15%; }

/* THE KPI TITLE */
.kpiTitle {
  /* COLOURS */
  /* FONTS */
  font-family: "Share Tech Mono", monospace;
  font-size: small;
  font-weight: 800;
  /* STYLE */
  margin: 0;
  padding: 5px; }

/* THE KPI AMOUNT */
.kpiPrice {
  /* COLOURS */
  border-color: #74705d;
  color: #916C85;
  /* FONTS */
  font-family: "Major Mono Display", monospace;
  font-size: 2.25vh;
  font-weight: 800;
  /* STYLE */
  border-width: 0 0 1px 0;
  border-style: solid;
  margin: 0;
  padding: 10px; }

/* THE KPI SUBINFO */
.kpiSubinfo {
  /* COLOURS */
  /* FONTS */
  /*font-family: $fnt-share-tech;*/
  font-size: x-small;
  font-weight: 800;
  /* STYLE */
  display: flex;
  justify-content: space-around; }

/* THE KPI DATE */
.kpiDate, .kpiCurrency {
  /* COLOURS */
  /* FONTS */
  /* STYLE */
  margin: 0;
  padding: 5px; }

#CurrentPrice {
  /* COLOURS */
  background-color: #686385;
  color: #2E2D38;
  /* FONTS */
  /* STYLE */
  border: 0.5px solid #2E2D38;
  border-radius: 10px; }
  #CurrentPrice .kpiPrice {
    /* COLOURS */
    color: #2E2D38;
    border-color: #2E2D38;
    /* FONTS */
    /* STYLE */
    border-width: 0 0 1px 0;
    border-style: solid; }

/*********************** COIN GRAPH SECTION *********************/
#coinGraphContent {
  /* COLOURS */
  /*background-color: $clr-main-bk-kpi;*/
  /* FONTS */
  /* STYLE */ }

.coinGraph {
  /* COLOURS */
  /* FONTS */
  /* STYLE */
  border: 0.5px solid #74705d;
  border-radius: 10px;
  padding: 0 5% 1% 5%;
  margin: 20px; }

/*# sourceMappingURL=coinstyle.css.map */
