/************************** DASH PAGE ***************************/
/*																*/
/****************************************************************/

/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/
/* MAIN COLOUR */
/* SECONDARY COLOUR */

/*****************************  FONTS  **************************/

/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
/* FONT COLOUR */

/************************ GRID TEMPLATE *************************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/
/********************  MAIN SECTION PAGE GRID  ******************/

#mainGrid { grid-template-rows: 0.30fr 2fr; }

/* MAIN CONTENT */
#coinHeadingGrid, #coinDataGrid { 
	
	grid-column: 2/3;
	padding: 3vh;

}

#coinHeadingGrid { grid-row: 1/2; }
#coinDataGrid { grid-row: 2/3; }

/*************************** CONTENT ****************************/
/*																*/
/****************************************************************/