/************************** DASH PAGE ***************************/
/*																*/
/****************************************************************/

/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/
/* MAIN COLOUR */
$palette-dark-grey: #282923;

/* SECONDARY COLOUR */
$palette-light-purple: #686385;
$palette-dark-purple: #2E2D38;
$palette-light-magenta: #916C85;
$palette-old-grey: #74705d;
$palette-faded-brown: #75605E;

/*****************************  FONTS  **************************/
$fnt-share-tech: 'Share Tech Mono', monospace;
$fnt-share-fam: 'Share', cursive;
$fnt-cutivemono: 'Cutive Mono', monospace;
$fnt-majordisplay: 'Major Mono Display', monospace;
/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
$clr-main-bk-kpi: $palette-dark-purple;
$clr-main-bk-border: $palette-old-grey;
$clr-main-bk-warning: $palette-faded-brown;

/* FONT COLOUR */
$clr-main-font-kpi: $palette-light-purple;
$clr-main-font-kpiamount: $palette-light-magenta;
$clr-main-font-warning: $palette-dark-purple;

/************************ GRID TEMPLATE *************************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/
/********************  MAIN SECTION PAGE GRID  ******************/

#mainGrid { grid-template-columns: 1fr 4fr 1fr; grid-gap: 5px; }
#mainGrid { grid-template-rows: auto auto auto; }

/* MAIN CONTENT */
#coinHeadingGrid, #coinKpiGrid, #coinGraphGrid { 
	
	grid-column: 2/3;
	padding: 1.5vh;

}

#coinHeadingGrid { grid-row: 1/2; }
#coinKpiGrid { grid-row: 2/3; }
#coinGraphGrid { grid-row: 3/4; }

/*************************** CONTENT ****************************/
/*																*/
/****************************************************************/
/*************************** SUBHEADING *************************/
.coinheading {

	/* COLOURS */
	/* FONTS */
	/* STYLE */
	display: flex;
	justify-content: center;
}

.pumpwarning {

	/* COLOURS */
	background-color: $clr-main-bk-warning;
	color: $clr-main-font-warning;

	/* FONTS */
	font-family: $fnt-cutivemono;
	font-weight: 800;

	/* STYLE */
	display: none;
	border: 0.5px solid $clr-main-bk-warning;
	border-radius: 10px;

	p {
		/* COLOURS */
		/* FONTS */
		/* STYLE */
	}
}

/****************************  BUTTON  **************************/
.watchlistBtn {

	/* COLOURS */
	/* FONTS */
	font-size: 2.5vh;
	/* STYLE */
	margin: 5px 20px;
	padding: 5px 20px;
}

/************************ COIN KPI SECTION **********************/

/* COINTER LIST OF KPI */
#coinKpiContent {

	/* COLOURS */
	/* FONTS */
	/* STYLE */
	column-count: 3;
	column-gap: 2%;
}

/* EACH KPI */
.kpi {

	/* COLOURS */
	color: $clr-main-font-kpi;
	background-color: $clr-main-bk-kpi;

	/* FONTS */
	/* STYLE */
	border: 0.5px solid $clr-main-bk-border;
	border-radius: 10px;
	/*opacity: 0.6;*/
	padding: 10px 30px;
	margin: 0 15%;
}

/* THE KPI TITLE */
.kpiTitle {

	/* COLOURS */
	/* FONTS */
	font-family: $fnt-share-tech;
	font-size: small;
	font-weight: 800;

	/* STYLE */
	margin: 0;
	padding: 5px;
}

/* THE KPI AMOUNT */
.kpiPrice {

	/* COLOURS */
	border-color: $clr-main-bk-border;
	color: $clr-main-font-kpiamount;

	/* FONTS */
	font-family: $fnt-majordisplay;
	font-size: 2.25vh;
	font-weight: 800;

	/* STYLE */
	border-width: 0 0 1px 0;
	border-style: solid;
	margin: 0;
	padding: 10px;
}

/* THE KPI SUBINFO */
.kpiSubinfo {

	/* COLOURS */
	/* FONTS */
	/*font-family: $fnt-share-tech;*/
	font-size: x-small;
	font-weight: 800;

	/* STYLE */
	display: flex;
	justify-content: space-around;
}

/* THE KPI DATE */
.kpiDate, .kpiCurrency  {

	/* COLOURS */
	/* FONTS */
	/* STYLE */
	margin: 0;
	padding: 5px;
}

#CurrentPrice {

	/* COLOURS */
	background-color: $clr-main-font-kpi;
	color: $clr-main-bk-kpi;

	/* FONTS */
	/* STYLE */
	border: 0.5px solid $clr-main-bk-kpi;
	border-radius: 10px;

	.kpiPrice {

		/* COLOURS */
		color: $clr-main-bk-kpi;
		border-color: $clr-main-bk-kpi;

		/* FONTS */
		/* STYLE */
		border-width: 0 0 1px 0;
		border-style: solid;
	}
}

/*********************** COIN GRAPH SECTION *********************/

#coinGraphContent {

	/* COLOURS */
	/*background-color: $clr-main-bk-kpi;*/

	/* FONTS */
	/* STYLE */
}

.coinGraph {

	/* COLOURS */
	/* FONTS */
	/* STYLE */
	border: 0.5px solid $clr-main-bk-border;
	border-radius: 10px;
	padding: 0 5% 1% 5%;
	margin: 20px;
}