/************************** FAVE PAGE ***************************/
/*																*/
/****************************************************************/

/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/
/* MAIN COLOUR */
/* SECONDARY COLOUR */
$palette-old-grey: #74705d;

/*****************************  FONTS  **************************/
$fnt-share-tech: 'Share Tech Mono', monospace;
$fnt-share-fam: 'Share', cursive;
$fnt-cutivemono: 'Cutive Mono', monospace;
$fnt-majordisplay: 'Major Mono Display', monospace;

/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
$clr-main-bk-border: $palette-old-grey;

/* FONT COLOUR */

/************************ GRID TEMPLATE *************************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/
/********************  MAIN SECTION PAGE GRID  ******************/

#mainGrid { grid-template-columns: 1fr 5fr 1fr; grid-gap: 5px; }
#mainGrid { grid-template-rows: auto auto; }

/* MAIN CONTENT */
#favHeadingGrid, #faveCoinsGrid { 
	
	grid-column: 2/3;
	padding: 3vh;

}

#favHeadingGrid { grid-row: 1/2; }
#faveCoinsGrid { grid-row: 2/3; }

/*************************** CONTENT ****************************/
/*																*/
/****************************************************************/
