/************************* INDEX PAGE ***************************/
/*																*/
/****************************************************************/

/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/

/* MAIN COLOUR */
$palette-dark-purple: #2E2D38;

/* SECONDARY COLOUR */
$palette-light-grey: #d8d8d8;
$palette-old-grey: #74705d;

/*****************************  FONTS  **************************/

/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
$clr-main-bk-form: $palette-dark-purple;
$clr-main-bk-border: $palette-old-grey;

/* FONT COLOUR */

/************************ GRID TEMPLATE *************************/
/*						IF NOT USING DEFAULT					*/
/****************************************************************/

/*******************  HEADER SECTION PAGE GRID  *****************/
#headerGrid { grid-template-rows: auto; }

/********************  MAIN SECTION PAGE GRID  ******************/
#mainGrid {

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

/* MAIN CONTENT */
#loginGrid { 

	grid-column: 2/3;
	padding: 25vh 0px;

}

/*************************** CONTENT ****************************/
/*																*/
/****************************************************************/

#loginContent {

	/* COLOURS */
	background-color: $clr-main-bk-form;

	/* FONTS */

	/* STYLE */
	border: 2px solid $clr-main-bk-border;
	border-radius: 20px;
	padding: 5vh;
}


/*********************** LOGIN BUTTON ***************************/
/*																*/
/****************************************************************/
#customBtn {

	/* COLOURS */
	/* FONTS */
	/* STYLE */

	
	background-color: white;
	display: inline-block;
	width: 190px;
	border-radius: 5px;
	border: thin solid #888;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
	z-index: 1;

	:hover {
		cursor: pointer;
	}
}

span {

	.icon {

		background: url('../google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png') transparent 5px 50% no-repeat;
		display: inline-block;
		vertical-align: middle;
		width: 42px;
		height: 42px;
	}

	.buttonText {

		display: inline-block;
		vertical-align: middle;
		padding-left: 42px;
		padding-right: 42px;
		font-size: 14px;
		font-weight: bold;
		/* Use the Roboto font that is loaded in the <head> */
		font-family: 'Roboto', sans-serif;
	}
}

/*#customBtn:hover {
	cursor: pointer;
}*/

/*span.icon {

	background: url('../google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
}*/

/*span.buttonText {

	display: inline-block;
	vertical-align: middle;
	padding-left: 42px;
	padding-right: 42px;
	font-size: 14px;
	font-weight: bold;*/
	/* Use the Roboto font that is loaded in the <head> */
/*	font-family: 'Roboto', sans-serif;
}*/