/************************** ALL PAGE ****************************/
/*			https://color.adobe.com/create/color-wheel/			*/
/****************************************************************/
/************************** VARIABLES ***************************/
/*																*/
/****************************************************************/
/****************************  PALETTE  *************************/
/* MAIN COLOUR */
/* SECONDARY COLOUR */
/*****************************  FONTS  **************************/
/***************************  DEFAULTS  *************************/
/* BACKGROUNDS */
/* FONT COLOUR */
/************************ OVERALL STYLE *************************/
/*																*/
/****************************************************************/
/****************************  GRIDS  ***************************/
.outerDiv, .outerGrids {
  display: grid; }

/*.outerGrids { border: solid 3px white; }*/
/*.innerGrids { border: solid 3px white; }*/
/* GRID THE PAGE - ROWS */
#pageOuterDiv {
  grid-template-rows: auto 1fr auto;
  grid-gap: 5px;
  height: 100vh; }

/* GRID THE MAIN SECTIONS - COLUMN - DEFAULT*/
#headerGrid, #footerGrid, #mainGrid {
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 5px; }

#headerGrid {
  grid-template-rows: auto auto; }

/*****************************  BODY  ***************************/
body {
  /* COLOURS */
  color: #916C85;
  background-color: #282923;
  /* FONT */
  font-family: "Cutive Mono", monospace;
  font-size: medium;
  font-weight: 400;
  /* STYLE */
  text-align: center;
  text-decoration: none;
  margin: 0; }

/************************ GRID TEMPLATE *************************/
/*																*/
/****************************************************************/
/*******************  HEADER SECTION PAGE GRID  *****************/
#headerGrid {
  grid-column: 1/4;
  background-color: #2E2D38; }

/*#headerGrid { grid-column: 1/4;  background-color: white; }*/
#headingGrid, #mainMenuBtnGrid {
  grid-column: 2/3; }

#headingCont {
  /* COLOURS */
  color: #686385;
  /*color: black;*/
  /* FONTS */
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-size: 10vh;
  /* STYLE */
  text-transform: uppercase;
  text-align: center; }
  #headingCont p {
    margin: 45px 0; }

#mainMenuBtnCont p {
  /* COLOURS */
  color: #916C85;
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-size: large;
  /* STYLE */
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5vh 1.5vw;
  margin: 0;
  cursor: pointer; }
  #mainMenuBtnCont p:hover {
    /* COLOURS */
    background-color: #282923;
    /* FONTS */
    /* STYLE */
    border-radius: 10px 10px 0 0;
    opacity: 0.6; }

/********************  MAIN SECTION PAGE GRID  ******************/
#mainGrid {
  grid-column: 1/4; }

/*******************  FOOTER SECTION PAGE GRID  *****************/
#footerGrid {
  grid-column: 1/4;
  background-color: #282923; }

#footGrid {
  grid-column: 1/4; }

#footerCont {
  /* COLOURS */
  color: #74705d;
  /* FONTS */
  font-weight: 400;
  font-size: small;
  /* STYLE */
  text-transform: uppercase;
  text-align: center; }

/************************** COMPONENTS **************************/
/*																*/
/****************************************************************/
/*****************************  MENU  ***************************/
.activepage {
  /* COLOURS */
  background-color: #282923;
  /* FONTS */
  /* STYLE */
  border-radius: 10px 10px 0 0; }

/*************************  SUBHEADINGS  ************************/
.secondHeadingPage {
  /* COLOURS */
  /* FONTS */
  font-family: "Major Mono Display", monospace;
  font-size: 4.5vh;
  font-weight: 100;
  /* STYLE */ }
  .secondHeadingPage p {
    /* COLOURS */
    /* FONTS */
    /* STYLE */
    margin: 0; }

.secondSubHeading {
  /* COLOURS */
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-size: 1.5vh;
  font-weight: 100;
  /* STYLE */
  border: 0.5px solid #74705d;
  border-radius: 10px;
  margin: 10px 30%; }
  .secondSubHeading p {
    /* COLOURS */
    /* FONTS */
    /* STYLE */
    margin: 10px; }

/*************************  PLACEHOLDER  ************************/
.placeholder {
  /* COLOURS */
  background-color: #75605E;
  color: #2E2D38;
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-weight: 800;
  /* STYLE */
  border: 0.5px solid #75605E;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  .placeholder p {
    /* COLOURS */
    /* FONTS */
    /* STYLE */
    margin: 20px 0; }

#sadface {
  /* COLOURS */
  /* FONTS */
  font-size: 3vh;
  /* STYLE */
  margin: 15px; }

/****************************  INPUTS  **************************/
.searchInput {
  /* COLOURS */
  color: #916C85;
  background-color: #282923;
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-size: 1.50vh;
  font-weight: 500;
  /* STYLE */
  text-decoration: none;
  border: 0.5px solid #74705d;
  border-radius: 10px;
  padding: 0.8vh 1.5vw;
  margin: .5vh;
  width: 50%; }

/****************************  BUTTON  **************************/
button {
  /* COLOURS */
  color: #916C85;
  background-color: #282923;
  border-color: #74705d;
  /* FONTS */
  font-family: "Cutive Mono", monospace;
  font-size: 1.5vh;
  font-weight: 500;
  /* STYLE */
  text-decoration: none;
  border-radius: 10px;
  padding: .8vh 1.5vw;
  margin: .5vh;
  cursor: pointer; }
  button:hover {
    opacity: 0.5; }
  button p {
    margin: 0px;
    padding: 0px; }

.watchlistBtn {
  /* COLOURS */
  /* FONTS */
  font-size: 1.5vh;
  /* STYLE */
  margin: 5px 20px;
  padding: 5px 20px; }

/*********************  FOR THE LIST OF COINS  ******************/
.coinlistCont {
  /* COLOURS */
  /* FONTS */
  /* STYLE */
  display: grid;
  grid-template-columns: 4fr .5fr;
  align-items: center;
  border: 0.5px solid #74705d;
  margin: 5px 25px;
  padding: 15px; }
  .coinlistCont p {
    /* COLOURS */
    /* FONTS */
    /* STYLE */
    margin: 5px 25px; }

.coins {
  grid-column: 1/2; }

.watchlistBtnCont {
  grid-column: 2/3; }

.coins {
  /* COLOURS */
  /* FONTS */
  text-align: left;
  /* STYLE */
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  margin: 6px;
  cursor: pointer; }

.coinName {
  grid-column: 1/2; }

.all_time_price {
  grid-column: 2/3; }

.year_high_price {
  grid-column: 3/4; }

/*********************  PERSONALISATION  ******************/
#personalisation, .dropdownCont, #profile_pic {
  display: inline-block; }

#profile_pic {
  width: 40px;
  height: 40px;
  border: 1px solid #282924;
  border-radius: 50%;
  position: absolute; }

.dropdownCont {
  margin-left: 40px; }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 250px;
  max-width: 300px;
  background-color: #282923;
  border: 2px solid #2E2D38;
  border-top: none;
  border-radius: 0 0 10px 10px; }

/*# sourceMappingURL=pagelayout.css.map */
